PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/dairytrack_pro_offline
JWT_SECRET=change_this_to_a_long_random_secret_for_this_computer
JWT_EXPIRES_IN=30d
CLIENT_URL=http://localhost:5000,http://127.0.0.1:5000,http://localhost:5173
NODE_ENV=production
